
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>{{title}}</title>

    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <script src="https://www.gstatic.com/firebasejs/ui/6.0.1/firebase-ui-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.3.0/firebase.js"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='bulma.min.css')}}">
</head>

<body>




    <script type="module">

        import { initializeApp } from "https://www.gstatic.com/firebasejs/9.9.2/firebase-app.js";
        import { getAnalytics } from "https://www.gstatic.com/firebasejs/9.9.2/firebase-analytics.js";

        const firebaseConfig = {
            apiKey: "AIzaSyDpcvFe3H4uYwyHHwz1WEdP5GxWYUFCXPo",
            authDomain: "math-practice-6b4cb.firebaseapp.com",
            projectId: "math-practice-6b4cb",
            storageBucket: "math-practice-6b4cb.appspot.com",
            messagingSenderId: "626197126343",
            appId: "1:626197126343:web:3c8f36ca9373083c1f72e2",
            measurementId: "G-5FD202CJ27"
            };

            // Initialize Firebase
        const app = firebase.initializeApp(firebaseConfig);

        var provider = new firebase.auth.GoogleAuthProvider();
        
        document.getElementById("login").onclick = function() {
            firebase.auth().signInWithRedirect(provider);
        }

        
        // Hiding the profile photo and the login button, to prevent any weird flickering for the user
        document.getElementById("login").hidden=true
        document.getElementById("login").style.display="none"

        document.getElementById("profile-image").hidden=true

        firebase.auth().onAuthStateChanged(function (user) {
            if (user) {
                // user is logged in
                document.getElementById("profile-image").hidden = false
                document.getElementById("profile-dropdown").hidden=false

                console.log("world")
                const photo = user.photoURL

                document.getElementById('profile-image').src = photo
            }
            else {
                // user is NOT logged in
                document.getElementById("login").hidden=false
                document.getElementById("login").style.display="block"
            }
        }
        )

        firebase.auth()
        .getRedirectResult()
        .then((result) => {
            if (result.credential) {
            /** @type {firebase.auth.OAuthCredential} */
            var credential = result.credential;

            // This gives you a Google Access Token. You can use it to access the Google API.
            var token = credential.accessToken;
            // ...
            }
            // The signed-in user info.
            var user = result.user;


            console.log(user)
        }).catch((error) => {
            // Handle Errors here.
            var errorCode = error.code;
            var errorMessage = error.message;
            // The email of the user's account used.
            var email = error.email;
            // The firebase.auth.AuthCredential type that was used.
            var credential = error.credential;
            // ...
        });

    </script>

    <nav class="navbar" role="navigation" aria-label="main navigation" style="border-bottom: 1px solid gainsboro;">
        <div class="navbar-brand">
          <a class="navbar-item" href="https://bulma.io">
            <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
          </a>
      
          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
      
        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item">
              Classes
            </a>
      
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">
                About
              </a>
      
              <div class="navbar-dropdown">
                <a class="navbar-item">
                  Our Mission
                </a>
                <a class="navbar-item">
                  Team
                </a>
                <a class="navbar-item">
                  Contact
                </a>
                <a class="navbar-item">
                    Contribute
                </a>
                <hr class="navbar-divider">
                <a class="navbar-item">
                  Report an issue
                </a>
              </div>
            </div>
          </div>
      
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons" >
                <button id="login" class="button is-primary" style="display: none">
                  <strong>Sign up/Log In</strong>
                </button>
              </div>
            </div>
            
            <div class="navbar-item has-dropdown is-hoverable" id="profile-dropdown" hidden>
                <a class="navbar-link"><img id="profile-image" style="margin-right: 10px; padding: 0px; border-radius: 50%"></a>

                <div class="navbar-dropdown">
                    <a></a>
                    <hr class="navbar-divider">
                    <a class="navbar-item">Log Out</a>
                </div>
            </div>

          </div>
        </div>
      </nav>


    {% block body %}
    
    {% endblock %}
        
</body>

<script>
    {% block script %}


    {% endblock %}
</script>

<style>
    {% block style %}

    {% endblock %}
</style>
</html>