
<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Login</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='bulma.min.css')}}">
</head>

<body>
    <form>
        <input type="email" placeholder="email" id="email-form">
        <input type="password" placeholder="password" id="password-form">
        <button id="submit-button">submit</button>
    </form>

    <div>
        <a href="/forgot">forgot?</a>
    </div>
</body>

<script>

</script>

<style>
    .login-div {
        margin: 0px; 
        position: absolute; 
        left: 50%; 
        top: 50%; 
        transform: translate(-50%, -50%);
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .text-input {
        height: 60px;
        background-color: #f3efef;
        border: none;
        padding-left: 20px;
        font-size: 20px;
        border-radius: 0px;
    }
</style>